<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="div__body--text">Resgistrate y comienza a aprender lo que quieras, cuando quieras, donde quieras</div>
    <div class="div__body--text">Al registrarte podrás ver y también subir tus propios cursos para compartir tu conocimiento con todos</div>
    <form action="">
        <label for=""></label>
        <label for="">Email</label>
        <input type="email" name="email" id="" [(ngModel)]="email">

        <label for="">Password</label>
        <input type="password" name="password" id="" [(ngModel)]="password">

        <button (click)="onSubmit()">registrarse</button>
    </form>
</body>
</html>