.nav__list--options{
    color: var(--primary-color);
    background-color: var(--primary-color);
    padding-bottom: 24px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    background: var(--secondary-color);
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    cursor: pointer;
    width: fit-content;
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    list-style: none;
}

li:hover{
    background: var(--border-color);
    transition: 1s;
}

@media screen and (min-width: 600px){
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li{
        font-size: 18px;
    }
}

@media screen and (min-width: 600px){
    li{
        font-size: 24px;
    }

    ul{
        justify-content: space-between;
    }
}